.cart-items {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 35vh;
  overflow: auto;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.4rem;
  margin: 1rem 0;
}

.actions {
  text-align: right;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #8a2b06;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
}

.actions button:hover,
.actions button:active {
  background-color: #5a1a01;
  border-color: #5a1a01;
  color: white;
}

.actions .button--alt {
  color: #8a2b06;
}

.actions .button {
  background-color: #8a2b06;
  color: white;
}

.qrCodeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.qrCode {
  max-width: 50%;
  max-height: 100%; /* Ensure the QR code scales with the container height */
  width: auto;
  height: auto;
  border: 2px solid black;
}

@media (max-width: 600px) {
  .total {
    font-size: 1.3rem; /* Adjust font size for smaller screens */
  }
  .qrCode {
    max-width: 70%; /* Increase the size of the QR code */
  }
}

@media (max-width: 400px) {
  .total {
    font-size: 1.1rem; /* Further adjust font size for even smaller screens */
  }
  .qrCode {
    max-width: 70%; /* Further increase the size of the QR code */
  }
}